@media (max-width: 1599px) {
    .banner-container {
        height: 79vh !important;
    }
}
@media (max-width: 1499px) {
    .banner-container {
        height: 70vh !important;
    }
}
@media (max-width: 1399px) {
    .banner-container {
        height: 66vh !important;
    }
}
@media (max-width: 1199px) {
    .banner-container {
        height: 50vh !important;
    }
}
@media (max-width: 768px) {
    .button-container button {
        display:none;
    }
    .banner-container {
        height: 40vh !important;
    }
}
@media (max-width: 550px) {
    .button-container button {
        display: none;
    }
    .banner-container {
        height: 28vh !important;
    }
}
@media (max-width: 480px) {
    .button-container button {
        display: none;
    }
    .banner-container {
        height: 17vh !important;
    }
}

.image-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

    .image-container img {
        width: 100%;
        height: auto;
        display: block;
    }

.button-container {
    position: absolute;
    top: 82%;
    left: 80%;
    transform: translate(-50%, -50%);
    display: flex;
    gap: 10px;
}

    .button-container button {
        border-radius: 20px;
        padding: 8px 15px;
        font-size: 16px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

.btn-view-intro {
    background-color: #ffcd16;
    border: #085998 2px solid;
    color: #085998;
}

    .btn-view-intro a {
        text-decoration: none;
        color: inherit;
    }

    .btn-view-intro i {
        border-radius: 50%;
        border: 1px solid #085998;
        padding: 0 3px;
    }

.btn-discover {
    background-color: #085998;
    color: #ffffff;
    border: none;
}

    .btn-discover a {
        text-decoration: none;
        color: inherit;
    }
.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgb(115 104 104 / 50%);
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 20px;
    z-index: 10;
    width: 50px;
    height: 50px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: rgb(115 104 104 / 70%);
}