@page "/About"
@model PetStore.Pages.Customer.AboutModel
@{
    Layout = "_Layout";
}
<style>
    #pills-tabContent {
        min-height: 200px;
    }
</style>
<!-- About Start -->
<div class="container-fluid py-5 ">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-lg-0" style="min-height: 300px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="https://kienthucbonphuong.com/images/202006/pet-la-gi/pet-la-gi.jpg" style="object-fit: scale-down;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="border-start border-5 border-primary ps-5 mb-3">
                    <h6 class="text-primary text-uppercase">Giới Thiệu</h6>
                    <h6 class="display-5 text-uppercase mb-0">Giữ cho thú cưng của bạn luôn vui vẻ</h6>
                </div>
                <h5 class="text-body mb-4">FurFriends là diễn đàn dành riêng cho cộng đồng yêu thú cưng, nơi bạn có thể kết nối, chia sẻ kinh nghiệm chăm sóc, tìm hiểu thông tin hữu ích và giao lưu với những người có chung đam mê. Chúng tôi cam kết xây dựng một không gian thân thiện, sôi động, giúp bạn và thú cưng luôn có những khoảnh khắc vui vẻ, ý nghĩa.</h5>
                <div class="bg-light p-4">
                    <ul class="nav nav-pills justify-content-between mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100 active" id="pills-1-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1"
                                    aria-selected="true">
                                Sứ mệnh
                            </button>
                        </li>
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100" id="pills-2-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2"
                                    aria-selected="false">
                                Tầm nhìn
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                            <p class="mb-0">
                                Sứ mệnh của chúng tôi là kết nối cộng đồng yêu thú cưng, tạo ra một không gian nơi mọi người có thể chia sẻ kinh nghiệm, kiến thức và những khoảnh khắc đáng nhớ cùng thú cưng của mình. Chúng tôi cam kết mang đến một diễn đàn đáng tin cậy, thân thiện và sôi động, giúp nâng cao chất lượng cuộc sống cho cả thú cưng và chủ nhân của chúng, đồng thời thúc đẩy sự gắn kết giữa con người và những người bạn bốn chân đáng yêu.
                            </p>
                        </div>
                        <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                            <p class="mb-0">
                                Chúng tôi hình dung một cộng đồng nơi mọi thú cưng đều nhận được sự quan tâm, yêu thương và chăm sóc tốt nhất. FurFriends hướng tới việc trở thành diễn đàn hàng đầu dành cho những người yêu thú cưng, nơi kết nối những trái tim chung đam mê, chia sẻ kiến thức và lan tỏa những giá trị tích cực trong việc nuôi dạy thú cưng. Chúng tôi mong muốn xây dựng một không gian thân thiện, nơi mỗi người có thể tìm thấy sự hỗ trợ, cảm hứng và niềm vui từ hành trình đồng hành cùng những người bạn bốn chân của mình.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
