@page "/About"
@model PetStore.Pages.Customer.AboutModel
@{
    Layout = "_Layout";
}

<!-- About Start -->
<div class="container-fluid py-5 ">
    <div class="container">
        <div class="row gx-5">
            <div class="col-lg-5 mb-lg-0" style="min-height: 500px;">
                <div class="position-relative h-100">
                    <img class="position-absolute w-100 h-100 rounded" src="https://kienthucbonphuong.com/images/202006/pet-la-gi/pet-la-gi.jpg" style="object-fit: scale-down;">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="border-start border-5 border-primary ps-5 mb-3">
                    <h6 class="text-primary text-uppercase">Giới Thiệu</h6>
                    <h6 class="display-5 text-uppercase mb-0">Giữ cho thú cưng của bạn luôn vui vẻ</h6>
                </div>
                <h5 class="text-body mb-4">Tại PetShop, chúng tôi cam kết mang đến các sản phẩm chất lượng cao, từ thiết bị GPS đảm bảo an toàn, thức ăn bổ dưỡng, quần áo thời trang đến các vật dụng thiết yếu, giúp thú cưng của bạn luôn an toàn, thoải mái và hạnh phúc.</h5>
                <div class="bg-light p-4">
                    <ul class="nav nav-pills justify-content-between mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100 active" id="pills-1-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-1" type="button" role="tab" aria-controls="pills-1"
                                    aria-selected="true">
                                Sứ mệnh
                            </button>
                        </li>
                        <li class="nav-item w-50" role="presentation">
                            <button class="nav-link text-uppercase w-100" id="pills-2-tab" data-bs-toggle="pill"
                                    data-bs-target="#pills-2" type="button" role="tab" aria-controls="pills-2"
                                    aria-selected="false">
                                Tầm nhìn
                            </button>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="pills-1" role="tabpanel" aria-labelledby="pills-1-tab">
                            <p class="mb-0">Sứ mệnh của chúng tôi là làm phong phú thêm cuộc sống của thú cưng và chủ của chúng bằng cách cung cấp các giải pháp sáng tạo, đáng tin cậy và giá cả phải chăng cho việc chăm sóc thú cưng. Cho dù đó là giữ cho thú cưng của bạn an toàn bằng công nghệ theo dõi tiên tiến của chúng tôi hay cải thiện cuộc sống hàng ngày của chúng bằng thức ăn và phụ kiện chất lượng cao, chúng tôi ở đây để hỗ trợ mối liên kết không thể phá vỡ mà bạn chia sẻ với những người bạn lông lá của mình.</p>
                        </div>
                        <div class="tab-pane fade" id="pills-2" role="tabpanel" aria-labelledby="pills-2-tab">
                            <p class="mb-0">Chúng tôi hình dung một thế giới mà thú cưng luôn được an toàn, yêu thương và chăm sóc. Bằng cách kết hợp công nghệ hiện đại, thiết kế chu đáo và hiểu biết sâu sắc về nhu cầu của thú cưng, chúng tôi hướng đến mục tiêu thiết lập tiêu chuẩn trong việc chăm sóc thú cưng. Mục tiêu của chúng tôi là trở thành đối tác đáng tin cậy của bạn, cung cấp các giải pháp phù hợp với mọi giai đoạn cuộc sống của thú cưng và mọi cuộc phiêu lưu mà bạn cùng tham gia.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
