/* _content/PetStore/Pages/Customer/Profile.cshtml.rz.scp.css */
body[b-j98gt7v8kv] {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f7f6;
}

.container[b-j98gt7v8kv] {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
}

h1[b-j98gt7v8kv] {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.profile-header[b-j98gt7v8kv] {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Căn giữa ảnh và thông tin */
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

    /* Ảnh đại diện */
    .profile-header img[b-j98gt7v8kv] {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-left: 100px;
    }

/* Thông tin hồ sơ lệch phải */
.profile-info[b-j98gt7v8kv] {
    flex: 1;
    max-width: 500px;
    padding: 20px;
    text-align: left;
    margin-left: 150px; /* Lệch qua bên phải */
}

    .profile-info p[b-j98gt7v8kv] {
        font-size: 16px;
        margin: 8px 0;
    }

        .profile-info p span[b-j98gt7v8kv] {
            font-weight: bold;
            color: #555;
        }

@media (max-width: 768px) {
    .profile-header[b-j98gt7v8kv] {
        flex-direction: column;
        align-items: center;
    }

        .profile-header img[b-j98gt7v8kv] {
            margin: 10px 0;
        }

    .profile-info[b-j98gt7v8kv] {
        padding: 10px;
        max-width: 100%;
        margin-left: 0; /* Hủy bỏ margin khi màn hình nhỏ */
    }
}
/* _content/PetStore/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-083a7j7cna] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-083a7j7cna] {
    color: #0077cc;
}

.btn-primary[b-083a7j7cna] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-083a7j7cna], .nav-pills .show > .nav-link[b-083a7j7cna] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-083a7j7cna] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-083a7j7cna] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-083a7j7cna] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-083a7j7cna] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-083a7j7cna] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.text-light-blue[b-083a7j7cna] {
    color: #8d9ee7 !important;
}

.bg-light-blue[b-083a7j7cna] {
    background-color: #8d9ee7 !important;
}
/* _content/PetStore/Pages/Shared/_layoutAdmin.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ll94j1i1no] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-ll94j1i1no] {
    color: #0077cc;
}

.btn-primary[b-ll94j1i1no] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ll94j1i1no], .nav-pills .show > .nav-link[b-ll94j1i1no] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-ll94j1i1no] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-ll94j1i1no] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ll94j1i1no] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ll94j1i1no] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-ll94j1i1no] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}

.text-light-blue[b-ll94j1i1no] {
    color: #8d9ee7 !important;
}

.bg-light-blue[b-ll94j1i1no] {
    background-color: #8d9ee7 !important;
}
